<?xml version="1.0" ?>

<container xmlns="http://symfony.com/schema/dic/services"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:schemaLocation="http://symfony.com/schema/dic/services http://symfony.com/schema/dic/services/services-1.0.xsd">

    <parameters>
        <parameter key="knp_menu.factory.class">Knp\Menu\MenuFactory</parameter>
        <parameter key="knp_menu.menu_provider.class">Knp\Bundle\MenuBundle\Provider\ContainerAwareProvider</parameter>
        <parameter key="knp_menu.renderer_provider.class">Knp\Bundle\MenuBundle\Renderer\ContainerAwareProvider</parameter>
        <parameter key="knp_menu.renderer.list.class">Knp\Menu\Renderer\ListRenderer</parameter>
    </parameters>

    <services>
        <service id="knp_menu.factory" class="%knp_menu.factory.class%" />

        <service id="knp_menu.menu_provider" class="%knp_menu.menu_provider.class%">
            <argument type="service" id="service_container" />
            <argument type="collection" />
        </service>

        <service id="knp_menu.renderer_provider" class="%knp_menu.renderer_provider.class%">
            <argument type="service" id="service_container" />
            <argument type="collection" />
        </service>

        <service id="knp_menu.renderer.list" class="%knp_menu.renderer.list.class%">
            <tag name="knp_menu.renderer" alias="list" />
        </service>
    </services>

</container>
