<?xml version="1.0" encoding="UTF-8"?>
<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         colors="true"
         bootstrap="vendor/autoload.php"
         xsi:noNamespaceSchemaLocation="vendor/phpunit/phpunit/phpunit.xsd">

  <testsuites>
    <testsuite name="KnpMenuBundle Test Suite">
      <directory>./tests/</directory>
    </testsuite>
  </testsuites>

  <source>
    <include>
      <directory>./src</directory>
    </include>
    <exclude>
      <directory>./src/Resources</directory>
    </exclude>
  </source>

</phpunit>
