<?php

$vendorDir = __DIR__.'/../vendor';
require_once $vendorDir.'/symfony/src/Symfony/Component/ClassLoader/UniversalClassLoader.php';

use Symfony\Component\ClassLoader\UniversalClassLoader;

$loader = new UniversalClassLoader();
$loader->registerNamespaces(array(
    'Symfony'   => $vendorDir.'/symfony/src',
    'Knp\Menu' => $vendorDir.'/knp-menu/src',
));
$loader->register();

spl_autoload_register(function($class) {
    $class = ltrim($class, '\\');
    if (0 === strpos($class, 'Knp\Bundle\MenuBundle\\')) {
        $file = __DIR__.'/../'.str_replace('\\', '/', substr($class, strlen('Knp\Bundle\MenuBundle\\'))).'.php';
        if (file_exists($file)) {
            require $file;
        }
    }
});
