<?xml version="1.0" ?>

<container xmlns="http://symfony.com/schema/dic/services"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:schemaLocation="http://symfony.com/schema/dic/services http://symfony.com/schema/dic/services/services-1.0.xsd">

    <parameters>
        <parameter key="knp_menu.renderer.list.options" type="collection"></parameter>
    </parameters>

    <services>
        <service id="knp_menu.factory" class="Knp\Menu\MenuFactory" public="true" />

        <service id="knp_menu.factory_extension.routing" class="Knp\Menu\Integration\Symfony\RoutingExtension" public="false">
            <argument type="service" id="router" />
            <tag name="knp_menu.factory_extension" />
        </service>

        <service id="knp_menu.helper" class="Knp\Menu\Twig\Helper" public="false">
            <argument type="service" id="knp_menu.renderer_provider" />
            <argument type="service" id="knp_menu.menu_provider" />
            <argument type="service" id="knp_menu.manipulator" />
            <argument type="service" id="knp_menu.matcher" />
        </service>

        <service id="knp_menu.matcher" class="Knp\Menu\Matcher\Matcher" public="true">
            <argument type="collection" />
        </service>

        <service id="Knp\Menu\Provider\MenuProviderInterface" alias="knp_menu.menu_provider" public="false"/>

        <service id="knp_menu.menu_provider.chain" class="Knp\Menu\Provider\ChainProvider" public="false">
            <argument type="collection" />
        </service>

        <service id="knp_menu.menu_provider.lazy" class="Knp\Menu\Provider\LazyProvider" public="false">
            <argument type="collection" />
            <tag name="knp_menu.provider" />
        </service>

        <service id="knp_menu.menu_provider.builder_alias" class="Knp\Bundle\MenuBundle\Provider\BuilderAliasProvider" public="false">
            <argument type="service" id="kernel" />
            <argument type="service" id="service_container" />
            <argument type="service" id="knp_menu.factory" />
        </service>

        <service id="knp_menu.renderer_provider" class="Knp\Menu\Renderer\PsrProvider">
            <argument type="service" id="service_container" />
            <argument>%knp_menu.default_renderer%</argument>
            <argument type="collection" />
            <argument>false</argument>
        </service>

        <service id="knp_menu.renderer.list" class="Knp\Menu\Renderer\ListRenderer">
            <tag name="knp_menu.renderer" alias="list" />
            <argument type="service" id="knp_menu.matcher" />
            <argument>%knp_menu.renderer.list.options%</argument>
            <argument>%kernel.charset%</argument>
        </service>

        <service id="knp_menu.voter.router" class="Knp\Menu\Matcher\Voter\RouteVoter">
            <argument type="service" id="request_stack" />
            <tag name="knp_menu.voter" />
        </service>

        <service id="knp_menu.manipulator" class="Knp\Menu\Util\MenuManipulator" public="false" />

        <!-- autowiring aliases -->
        <service id="Knp\Menu\FactoryInterface" alias="knp_menu.factory" public="false" />
        <service id="Knp\Menu\Matcher\MatcherInterface" alias="knp_menu.matcher" public="false" />
        <service id="Knp\Menu\Util\MenuManipulator" alias="knp_menu.manipulator" public="false" />
    </services>

</container>
